:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
  --menuBackgroundColor: rgba(40, 50, 70, 0.9);
  --buttonColor: rgb(80, 180, 160);
  --buttonColor2: rgb(254, 74, 0);
  --buttonColor3: rgb(25, 124, 100);
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'OpenSans', sans-serif;
  font-size: 1rem;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

#logoAndMenu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--menuBackgroundColor); 
    width: 70%;
    border-radius: 40px;
    min-height: 375px;
}

#startMenuLogo {
    width: 70%;
}

.name {
    cursor: default;
    font-size: 45px;
    font-family: cursive;
    color: white;
    letter-spacing: 10px;
    font-weight: 700;
    margin-top: 0;
}


button {
  cursor: pointer;
  outline: none;
  font-weight: 700;
  text-transform: uppercase;
}

.menuButton {
  width: 90%;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 0px;
  border-radius: 10px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin-top: 10px;
  margin-bottom: 10px;
}

#playButton {
  height: 60px;
  line-height: 60px;
}

.menuButton span{
  position: relative;
}

.menuButton:hover{
  height: 50px;
  border-radius: 10px;
  transition: all .25s;
  color: white;
  background-color: var(--buttonColor3);
}

#playButton:hover {
  height: 70px;
  line-height: 70px;
  color: white;
  background-color: var(--buttonColor2);
}